{% extends "admin/base.html" %}
{% load i18n static suit_tags %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img width="210px" src="/uploads/admin/E-comportal4.jpg" title="{{ site_header|default:_('Django administration') }}">
            <span class="header-label">{% trans 'Admin' %}</span>
        </a>
    </h1>
{% endblock %}

{# Additional <head> content here, some extra meta tags or favicon #}
{#{% block extrahead %}#}
{#    <meta kam="kam">Hey</meta>#}
{#{% endblock %}#}


{# Additional CSS includes #}
{#{% block extrastyle %}#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'css/my_project.css' %}" media="all">#}
{#{% endblock %}#}


{# Additional JS files in footer, right before </body> #}
{#{% block extrajs %}#}
{#  <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>#}
{#{% endblock %}#}


{# Footer links (left side) #}
{% block footer_links %}
    <p>IQ Индекс</p>
    <p><a target="_blank" href="https://iqadm.kambox.ru">Управление автоматизацией</a></p>
{% endblock %}

{# Additional header content like notifications or language switcher #}
{#{% block header_content %}#}
{#    {{ block.super }}#}
{#    <div class="header-content">#}
{#        <!-- First icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-home"></i><br>#}
{#            <i class="icon-cog"></i>#}
{#        </div>#}
{#        <div class="header-column" style="margin-right: 20px">#}
{#            <a href="/" class="grey">Front-end</a><br>#}
{#            <a href="" class="grey">One more link</a>#}
{#        </div>#}
{#        <!-- Second icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-comment"></i>#}
{#        </div>#}
{#        <div class="header-column">#}
{#            <a href="" class="grey">5 new messages</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{# Footer branding name (right side)  #}
{# {% block footer_branding %} #}
{# {% endblock %} #}


{# Footer copyright (center) #}
{% block copyright %}
  Права зарегистрированы &copy; 2020 iqcity.kambox.ru<br>Разработано <a href="https://e-comportal.com" target="_blank">iqcity.kambox.ru</a>
{% endblock %}